@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}
.ProfileCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 370px;
    width: 100%;
    background: #fff;
    border-radius: 24px;
    padding:25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.ProfileCard::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 24px 24px 0 0;
    height: 36%;
    width: 100%;
    background-color: #4070f4;
}
.image{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    margin-bottom: 3px;
}
.image .profile{
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 3px solid #fff;
}
.ProfileCard .textData{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
}
.textData .name{
    font-size: 22px;
    font-weight: 500;
}
.textData .job{
    font-size: 15px;
    font-weight: 400;
}
.ProfileCard .mediaButton{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.mediaButton .link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background-color: #4070f4;
    margin: 0 8px;
    text-decoration: none;
}
 .ProfileCard .buttons{
display: flex;
align-items: center;
margin-top: 25px;
}
.buttons .button{
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border-radius: 28px;
    margin: 0 18px;
    padding: 8px 24px;
    background-color: #4070f4;
}
.buttons .button:hover{
    background-color: #0e4fb1;
}
.ProfileCard .analytical{
    display: flex;
    align-items: center;
    margin-top: 25px;
}
.analytical .data{
    display: flex;
    align-items: center;
    padding: 0 18px;
    border-right: 2px solid #e7e7e7;
    color: #333;
}
.data i{
    font-size: 18px;
    margin-right: 6px;
}
.data:last-child{
    border-right: none;
}
